<div>
  <div>post Id: {{ postId }}</div>

</div>
<div class="col-md-12">
 
  <div class="card card-container">
    <h1> Welcome and Register Here</h1>
      
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
      
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
        
          
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
         
        </div>
      </div>
      <div class="form-group">
        <button (click)="funcreate()"class="btn btn-primary btn-block">CREATE</button>
      </div>

      <div class="form-group">
        <button (click)="funupdate()"class="btn btn-primary btn-block" >UPDATE</button>
      </div>
      <div class="form-group">
        <button (click)="funListuser()"class="btn btn-primary btn-block">LIST USERS</button>
      </div>
      <div class="form-group">
        <button (click)="fundelete()"class="btn btn-primary btn-block">DELETE</button>
      </div>
    </form>

   
    </div>
  </div>
